@*Chase Brower, 2023*@

@using BrowerFileBrowser.Interfaces;
@using MudBlazor;
@using System.IO;

@implements IFileViewer

<div style="width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; padding: 1rem;">
    <MudGrid>
        @foreach (var directory in Directories)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <div class="square-card">
                    <MudCard Class="directory-card card-content">
                        <div class="text-center">
                            <i class="fas fa-folder fa-2x"></i>
                        </div>
                        <MudCardContent>
                            <MudText Class="non-hoverable-text">@directory.Name</MudText>
                        </MudCardContent>
                    </MudCard>
                </div>
            </MudItem>
        }

        @foreach (var file in Files)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <div class="square-card">
                    <MudCard Class="file-card card-content">
                        <div class="text-center">
                            <i class="fas fa-file fa-2x"></i>
                        </div>
                        <MudCardContent>
                            <MudText Class="non-hoverable-text">@file.Name</MudText>
                        </MudCardContent>
                    </MudCard>
                </div>
            </MudItem>
        }
    </MudGrid>
</div>

@code {
    [Parameter]
    public List<DirectoryInfo> Directories { get; set; } = new();

    [Parameter]
    public List<FileInfo> Files { get; set; } = new();
}
