@*Chase Brower, 2023*@

@using BrowerFileBrowser.Containers;

@inject PathStateContainer PathStateContainer

<div id="path-bar" style="width: 100%; height: 3rem;">
    <div id="path-text-container" style="width: 100%; height: 100%; padding: 0.5rem;" class="frosted-glass">
        <input value="@path" @oninput="@ChangePathHandler" type="text" style="width: 100%; height: 100%; padding: 0.25rem;" class="frosted-glass-opaque" @onkeypress="@KeyPressHandler"/>
    </div>
</div>

@code {
    private string path = string.Empty;
    private string changedPath = string.Empty;

    [Parameter]
    public string Path { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        path = Path;
    }

    public void ChangePathHandler(ChangeEventArgs changeEventArgs)
    {
        changedPath = changeEventArgs.Value as string;
    }

    public void KeyPressHandler(KeyboardEventArgs keyboardEventArgs)
    {
        if(keyboardEventArgs.Key == "Enter")
        {
            PathStateContainer.SetPath(changedPath);
        }
    }
}
